#include <string>
#include <vector>

#define IMPLEMENT_KIWI_H
#define IMPLEMENT_SCHEMA_H

#include "desaina_node_kiwi.h"

using  uint = uint32_t;
using string = std::string;

{{#classes}}
class {{name}};
{{/classes}}

{{#enums}}
enum class {{name}} {
{{#members}}
	{{name}},
{{/members}}
};
{{/enums}}

{{#structs}}
struct {{name}} {
{{#members}}
	{{&type}} {{name}};
{{/members}}
};
{{/structs}}

{{#classes}}
class {{name}} {{#mixins}}: public {{.}} {{/mixins}} {
private:
{{#members}}
{{#defaultValue}}
	static {{type}} {{name}}_default;
{{/defaultValue}}
	{{&type}} {{name}};
{{/members}}
public:
{{#members}}
	{{&type}} get_{{name}}() {
		return {{name}};
	};
	void set_{{name}} (const {{&type}}& value) {
		{{name}} = value;
	};
{{/members}}
};
{{/classes}}
