{{#structs}}
struct {{name}} {
{{#members}}
	{{type}} {{name}};
{{/members}}
}
{{/structs}}

{{#classes}}
class {{name}} {
private:
{{#members}}
	{{type}} {{name}};
{{/members}}
public:
{{#members}}
	{{type}} get_{{name}} {
		return name;
	};
	set_{{name}} (const {{type}}& value) {
		name = value;
	};
{{/members}}
setByKiwiData(data) {
{{#members}}
	if (data.{{name}}() != nullptr) {
		name = *data.{{name}}();
	}
{{/members}}
}
}