package Desaina_Kiwi;

{{#enums}}
enum {{name}} {
{{#members}}
	{{name}} = {{index}};
{{/members}}
}
{{/enums}}

{{#structs}}
struct {{name}} {
{{#members}}
	{{type}} {{name}};
{{/members}}
}
{{/structs}}

{{#messages}}
message {{name}} {
{{#members}}
	{{type}} {{name}} = {{index}};
{{/members}}
}
{{/messages}}