#pragma once

#include "node-base/node.h"
#include "node-base/type.generated.h"
#include "container.h"
#include "guid.h"

namespace dea::node
{

{{#nodes}}
class {{node}} {{#inherits}}{{.}}{{/inherits}} {
public:
  static constexpr NodeType Type = NodeType::{{nodeType}};
	{{node}}() {
	  setType(Type);
	}
};

{{/nodes}}

} // namespace dea::node